.chatwindow-wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
    background: #fff;
}

.chat-window-empty {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.chat-window-empty p {
    font-size: 18px;
    color: #888;
}

.chat-header {
    display: flex;
    align-items: center;
    padding: 10px 14px;
    gap: 10px;
    border-bottom: 1px solid #ccc;
    background-color: #fff;
    flex-shrink: 0; 
 }

.chat-header-avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}

.chat-header h3 {
    color:#0084ff;
}

.messages-container {
    flex: 1;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    padding: 12px 0;
}

.message-row {
    display: flex;
    margin-bottom: 10px;
}

.message-row.other {
    justify-content: flex-start;
    margin-left: 10px;
}

.message-row.me {
    justify-content: flex-end;
    margin-right: 10px;
}


.bubble {
    max-width: 60%;
    padding: 10px 14px;
    border-radius: 18px;
    font-size: 14px;
    word-wrap: break-word;
}

.message-row.other .bubble {
    background-color: #f1f1f1;
    color: black;
}

.message-row.me .bubble {
    background-color: #0084ff;
    color: white;
}

.msg-time {
    font-size: 10px;
    opacity: 0.6;
    margin-top: 4px;
    text-align: right;
}
