.create-post-page {
    padding-top:10px;
    height: 100dvh;
    background-color: white;
}

.create-post-page h2 {
    margin-left: 22px;
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: 500;
    color: #1877f2;
}