.create-post-card {
    width: 100%;
    max-width: 1200px;
    margin: 20px auto;
    padding: 15px;
    background: white;
    border: 1px solid #e6e6e6;
    border-radius: 12px;
    display: flex;
    gap: 50px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.05);
}

.create-post-left {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.create-post-header {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
}

.create-post-avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.create-post-username {
    font-weight: 600;
}

.create-post-left textarea {
    width: 100%;
    border: none;
    resize: none;
    font-size: 15px;
    min-height: 70px;
    outline: none;
    padding: 5px;
    font-family: inherit;
}

.create-post-actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}
.image-upload-text {
    display: flex;
    align-items: center;
    gap: 8px;
}

.image-upload-text .img-icon {
    font-size: 30px;
    color: #1877f2;
    cursor: pointer;
}

.image-upload-text span {
    font-size: 15px;
    color: #888;
    cursor: pointer;
    font-family: inherit;
}

.create-post-actions button {
    background: white;
    color: #1877f2;
    border: 1px solid #1877f2;
    padding: 6px 15px;
    border-radius: 6px;
    cursor: pointer;
    font-size:15px;
    font-weight: bold;
    transition: all 0.3s ease;
}

.create-post-actions button:hover {
    color: white;
    background-color: #1877f2;
}

.create-post-right {
    width: 250px;
    height: 160px;
    border: 1px dashed #ccc;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.create-post-right img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.image-placeholder {
    color: #888;
    font-size: 14px;
}

@media (max-width: 800px) {
  .create-post-card {
    flex-direction: column;
  }
  .create-post-right {
        width: 100%;
        height: 220px;
  }
}