.edit-profile-page {
    background-color: white;
}
.edit-wrapper {
  min-height: 100vh;
  background: white;
}

/* CARD */
.edit-card {
  width: 100%;
  max-width: 500px;
  background: #fff;
  border-radius: 8px;
  overflow: hidden;
  margin-left: 100px;
  margin-top: 20px;
}

/* HEADER */
.edit-card-header {
    height: 100px;
    background: #1d9bf0;
    color: white;
    text-align: center;
    padding: 20px;
}

/* AVATAR */
.edit-avatar {
  text-align: center;
  margin-top: -40px;
}

.edit-avatar img {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  object-fit: cover;
  border: 4px solid white;
}

.edit-avatar label {
  display: block;
  margin-top: 6px;
  color: #1d9bf0;
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
}

/* BODY */
.edit-card-body {
    padding: 10px;
}

.form-group {
    margin-bottom: 18px;
}

.form-group label {
  display: block;
  font-weight: 600;
  margin-bottom: 6px;
  color: black;
}

.form-group input,
.edit-profile-textarea {
  width: 100%;
  padding: 10px;
  border-radius: 8px;
  background-color: white;
  color: #888;
  border: 1px solid #ddd;
  outline: none;
}

.edit-profile-textarea {
  height: 80px;
  resize: none;
}

.char-count {
  font-size: 12px;
  color: gray;
  float: right;
}

/* CHANGE PASSWORD */
.change-password-text {
  font-size: 13px;
  margin-top: 2px;
  text-align: center;
  color: black;
}

.change-password-text span {
  color: #1d9bf0;
  cursor: pointer;
  font-weight: 600;
}

/* FOOTER */
.edit-card-footer {
    display: flex;
    gap: 10px;
    padding: 12px;

}

.cancel-btn,
.save-btn {
  flex: 1;
  padding: 10px;
  border-radius: 8px;
  border: none;
  font-weight: 600;
  cursor: pointer;
}

.cancel-btn {
  background: #e5e7eb;
}

.save-btn {
  background: #1d9bf0;
  color: white;
}

.save-btn:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

@media(max-width:480px){
    .edit-card {
        margin:0;
        border-radius: 0px;
    }

    .edit-card-header {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 130px;
    }

    .edit-avatar label {
        margin-top: 0px;
    }

    .edit-card-body {
        padding-top: 10px;
        padding-bottom: 0px;
    }

    .cancel-btn {
        background: rgb(26, 25, 25);
    }
}
