.feed-post-card {
    width: 100%;
    max-width: 600px;
    margin: 15px 0px 15px 80px;
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    flex-direction: column;
    background: white;
    border: 1px solid #e6e6e6;
    border-radius: 10px;
    overflow: hidden;
}

.feed-post-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 8px;
    padding: 0px 10px;
    margin-bottom: 5px;
}

.feed-post-header .avatar-and-username {
    display: flex;
    align-items: center;
    gap: 8px;
}

.feed-post-header img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.feed-post-header button {
    padding: 4px 8px;
    font-size: 14px;
    font-family: inherit;
    background-color: #1877f2;
    color: white;
    border: none;
    border-radius: 2px;
    cursor: pointer;
}

.feed-post-header button:hover {
    background-color: #0247a1;
}

.feed-post-image{
    width: 100%;
    max-height: 500px;
    object-fit: cover;
}

.feed-post-actions {
  display: flex;
  gap: 50px;
  padding: 10px;
  font-size: 20px;
  color: grey;
  cursor: pointer;
}

.feed-post-caption {
  padding: 0 10px 10px;
  font-size: 14px;
}