@media (max-width: 480px) {

  .mobile-post-card {
    width: 100%;
    padding: 12px;
    background: white;
    display: flex;
    flex-direction: column;
    gap: 12px;
  }




  .mobile-post-header {
    display: flex;
    align-items: center;
    gap: 5px;
  }

  .mobile-post-avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
  }

  .mobile-post-username {
    font-size:18px;
    color:#888;
    font-weight: 600;
  }

  /* IMAGE */
  .mobile-post-image {
    width: 100%;
    height: 300px;
    border: 1px dashed #ccc;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .mobile-post-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .mobile-image-placeholder {
    color: #888;
    font-size: 14px;
  }

  /* TEXTAREA */
  .mobile-post-textarea {
    width: 100%;
    min-height: 100px;
    border: none;
    outline: none;
    resize: none;
    color: black;
    background-color: white;
    font-size: 15px;
    font-family: inherit;
    margin-top: 10px;
  }

  /* ACTIONS */
  .mobile-post-actions {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .upload-text {
    display: flex;
    align-items: center;
    gap: 4px;
  }

  .mobile-img-icon {
    font-size: 30px;
    color: #1877f2;
    cursor: pointer;
  }

  .mobile-post-actions span {
    color: #888;
  }

  .mobile-post-actions button {
    background: white;
    color: #1877f2;
    border: 1px solid #1877f2;
    padding: 6px 15px;
    border-radius: 6px;
    cursor: pointer;
    font-size:15px;
    font-weight: bold;
    transition: all 0.3s ease;
  }

  .mobile-post-actions button.posting{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    opacity: 0.7;
  }

  .spinner {
    width: 14px;
    height: 14px;
    border: 2px solid rgba(24,119,242,0.3);
    border-top: 2px solid #1877f2;
    border-radius: 50%;
    animation: spin 0.8s linear infinite;
  }

  @keyframes spin {
    to {
        transform: rotate(360deg);
    }
  }
}
