.navbar-bottom {
    height: 50px;
    display: none;
    background-color: white;
    position: sticky;
    bottom:0;
    z-index: 100;
}





   
@media (max-width: 480px){
    .navbar-bottom {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0px 20px;
    }

    .bottom-nav-item {
        color:#1877f2;
        font-size: 25px;
    }

    .navbar-bottom button{
        border: none;
        background: none;
        font-size: 25px;
        color:#1877f2;
    }

}