.navbar {
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid #e6e6e6;
    position: sticky;
    top: 0;
    z-index: 100;
}


.left-section {
    
    width: 250px;
    display: flex;
    align-items: center;
    gap: 8px;
    padding-left: 30px;
}

.left-section img {
    height: 45px;
    width: 45px;
    border-radius: 40px;
}

.left-section .nav-logo{
    display: flex;
    flex-direction: column;
}

.left-section h2 {
    font-size: 24px;
    font-weight: 700;
    color: #1877f2;
}

.left-section span {
    margin-top: -4px;
    font-size: 12px;
}

.middle-section {
    position: relative;
    display: flex;
    align-items: center;
    flex: 1;
    margin-left: 40px;
    margin-right: 35px;
    max-width: 450px;
}

.middle-section .search-icon {
    position: absolute;
    left: 10px;
    color:#1877f2;
}

.middle-section input {
    flex: 1;
    padding: 7px 30px;
    border: 1px solid #ddd;
    border-radius: 30px;
    outline: none;
    font-size: 14px;
    width:0;
}

.right-section {
    
    width: 480px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 30px;
}

.nav-item {
    display: flex;
    align-items: center;
    gap: 6px;
}

.nav-icon {
    font-size: 18px;
}

.nav-item a {
    text-decoration: none;
    color: inherit;
}

.right-section button{
    border: none;
    background: none;
    font-size: 16px;
}

