.profile-container {
  max-width: 1000px;
  margin: 20px auto;
  padding: 0 20px;
}


.profile-header {
  display: flex;
  gap: 40px;
  align-items: center;
  padding: 20px;
  border-bottom: 1px solid #eee;
}

.profile-avatar img {
  width: 130px;
  height: 130px;
  border-radius: 50%;
  object-fit: cover;
  border: 3px solid #1877f2;
}

.profile-info h2 {
  margin: 0;
  font-size: 26px;
}

.username {
  color: #777;
  margin-top: 3px;
}

.bio {
  margin: 10px 0;
  font-size: 15px;
}

.profile-stats {
  display: flex;
  gap: 20px;
  margin-top: 10px;
}

.profile-stats span {
  font-size: 15px;
}

.edit-profile-btn {
  margin-top: 12px;
  padding: 6px 14px;
  border: none;
  background: #1877f2;
  color: white;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
}

/* ===== Posts Section ===== */

.profile-posts {
  margin-top: 30px;
}

.posts-grid {
  margin-top: 15px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

.post-placeholder {
  height: 120px;
  background: #f2f2f2;
  display:flex;
  align-items:center;
  justify-content:center;
  color:#777;
  border-radius: 6px;
}

.profile-post-card {
  width: 100%;
  height: 180px;
  overflow: hidden;
  border-radius: 6px;
  cursor: pointer;
}

.profile-post-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s ease;
}

.profile-post-card:hover .profile-post-image {
  transform: scale(1.05);
}


/* ===== Responsive ===== */
@media(max-width:768px){
  .profile-header {
    flex-direction: column;
    text-align: center;
  }

  .posts-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
