.profile-container {
  background-color: white;
  max-width: 1000px;
  height: 100vh;
  margin: 0 auto;
  padding: 0 20px;
}

.profile-nav {
    display: none;
}

.profile-header {
  display: flex;
  gap: 40px;
  align-items: center;
  padding: 20px;
  border-bottom: 1px solid #eee;
}

.profile-avatar img {
  width: 130px;
  height: 130px;
  border-radius: 50%;
  object-fit: cover;
  border: 3px solid #1877f2;
}

.profile-info h2 {
  margin: 0;
  font-size: 26px;
  color: black;
}

.username {
  color: #777;
  margin-top: 3px;
}

.bio {
  margin: 10px 0;
  font-size: 15px;
  color: black;
}

.bio-mobile {
    display: none;
}

.profile-stats {
  display: flex;
  gap: 20px;
  margin-top: 10px;
  color:black;
}

.profile-stats span {
  font-size: 15px;
}

.profile-btns {
    display: flex;
    gap: 10px;
}

.mobile-profile-btns {
    display: none;
}

.edit-profile-btn {
  margin-top: 12px;
  padding: 6px 14px;
  border: none;
  background: #1877f2;
  color: white;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
}



.profile-posts {
  margin-top: 30px;
}



.posts-grid {
  margin-top: 15px;
  display: grid;
  background-color: white;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

.posts-grid p{
    color: black;
}

.post-placeholder {
  height: 120px;
  background: #f2f2f2;
  display:flex;
  align-items:center;
  justify-content:center;
  color:#777;
  border-radius: 6px;
}

.profile-post-card {
  width: 100%;
  height: 180px;
  overflow: hidden;
  border-radius: 6px;
  cursor: pointer;
}

.profile-post-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s ease;
}

.profile-post-card:hover .profile-post-image {
  transform: scale(1.05);
}



@media (min-width:481px) and (max-width:768px){
  .profile-header {
    flex-direction: column;
    text-align: center;
  }

  .posts-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width:480px){
    .profile-nav {
        height: 60px;
        display: flex;
        align-items: center;
        gap: 50px;
    }

    .create-icon {
        color:#1877f2;
        font-size: 35px;
    }
    .profile-nav h2{
        margin-top: -15px;
        font-size: 35px;
        color:#1877f2;
    }
    .profile-header {
        border: none;
        padding: 5px;
        gap: 20px;
    }
    .profile-avatar img{
        width: 80px;
        height: 80px;
        margin-bottom: -25px;
    }

    .profile-info h2{
        display: none;
    }

    .username {
        color: black;
    }
    .bio {
        display:none;
    }

    .bio-mobile {
        color: black;
        display: block;
        margin-left: 15px;
        margin-top: 10px;
        padding-bottom: 15px;
        border-bottom: 1px solid #eee;
    }

    .profile-btns {
        display: none;
    }

    .mobile-profile-btns {
        display: flex;
        justify-content: space-between;
        margin-top: 10px;
    }

    .edit-profile-btn {
        padding: 8px 14px;
        width: 150px;
    }

    .profile-posts h3 {
        font-size: 22px;
        font-weight: 500;
        color: black;
    }
}


