.public-profile-page {
    background-color: white;
    padding: 20px 40px;
}

.arrow-and-username {
    display: flex;
    align-items: center;
    gap: 25px;
}

.arrow-and-username span {
    font-size: 20px;
}

.arrow-and-username a {
  color: black;
  text-decoration: none;
}

.arrow-and-username h2 {
    margin-top: -10px;
    font-size: 30px;
    color: black;
}

.image-fullname-stats {
    display: flex;
    gap: 20px;
    margin-top: 20px;
}

.image-fullname-stats img {
    height: 80px;
    width: 80px;
    border-radius: 50%;
    object-fit: cover;
}

.fullname-stats {
    display: flex;
    flex-direction: column;
}

.stats {
    display: flex;
    gap: 15px;
}

.Bio {
    margin-top: 10px;
    color: black;
}

.public-profile-actions {
    display: flex;
    gap: 20px;
    margin-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #cac9c9;
}

.public-profile-actions button {
    padding: 5px 15px;
    font-size: 16px;
    border: none;
    background-color: #1877f2;
    color: white;
    border-radius: 2px;
    cursor: pointer;
    width: 100px;
}

.public-profile-actions button:hover {
    background-color: #0362dd;
}

h3 {
    color: black;
    margin: 10px;
}

.public-profile-posts {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 4px;
}

.post-card img {
  width: 100%;
  height: 250px;
  object-fit: cover;
}

@media (max-width: 480px) {
    .public-profile-page{
        padding: 10px;
    }

    .arrow-and-username {
        gap: 30px;
    }

    .arrow-and-username span {
        font-size: 25px;
    }

    .image-fullname-stats img {
        height: 90px;
        width: 90px;
    }

    .fullname {
        font-size: 20px;
        color: black;
        margin-bottom: -10px;
    }

    .stats {
        color: black;
    }

    .stats div {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }

    .stats div h3{
        margin-left: 0px
    }

    .stats div span {
        margin-top: -10px;
    }

    .Bio {
        color: black;
    }

    .public-profile-actions {
        margin-top: 10px;
    }

    .public-profile-actions button {
        flex: 1;
    }

    .public-profile-posts {
        grid-template-columns: repeat(2, 1fr);
    }

    .post-card img {
        height: 100px;
    }
}

