.register-container {
    width: 100vw;
    height: 100vh;
    background-image: url("/login-bg.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    display: flex;
    align-items: center;
    justify-content: center;
}

.register-card {
    background: white;
    width: 90%;
    max-width:380px;
    padding: 40px;
    border-radius:20px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.2);
}

.logo {
    text-align: center;
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 0px;
    color: #ff416c;
}

.logo span {
    margin-left: 8px;
    margin-right: 10px;
}

.register-card h2 {
    color: black;
    text-align: center;
    margin: 8px 0;
}

.register-form input {
    width: 95%;
    padding: 12px;
    margin: 8px 0;
    border-radius: 10px;
    border: 1px solid #ddd;
    background-color: #fff;
    color: #000;
    outline: none;
    font-size: 14px;
}

.register-form input:focus {
  border-color: #ff416c;
}

.register-form button {
    width: 100%;
    padding: 12px;
    margin-top: 15px;
    border: none;
    border-radius: 25px;
    background: linear-gradient(135deg, #8e2de2, #ff416c);
    color: white;
    font-size: 16px;
    cursor: pointer;
    font-weight: bold;
}

.register-form button:hover {
  opacity: 0.9;
}

.login {
    margin-top:20px;
    font-size: 14px;
    text-align: center;
}

.login span {
  color: #ff416c;
  font-weight: bold;
  cursor: pointer;
}

.success-text {
  color: green;
  margin-top: 10px;
  font-weight: bold;
}

.error-text {
  color: red;
  text-align: center;
  margin-top: 10px;
  font-weight: bold;
}

@media (max-width: 480px) {
    .register-container {
        min-height: 100dvh;
        background-image: url("/mobile_login-bg.png");
    }

    .register-card {
        max-width: 320px;
        padding: 25px;
        border-radius: 10px;
        margin-bottom: 100px;
    }

    .register-form input {
        width: 100%;
    }

    .login {
        color: black;
    }
}

