.sidebar-container {
  padding: 10px;
}

.sidebar-title {
  margin-bottom: 15px;
  font-size: 18px;
  font-weight: bold;
}

.sidebar-user {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px;
  cursor: pointer;
  border-bottom: 1px solid #eee;
}

.sidebar-user:hover {
  background-color: #bebdbd;
}

img {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  object-fit: cover;
}

.last-msg {
  font-size: 13px;
  color: gray;
}
